{% extends "layout.html" %}

{% block title %}Book{% endblock %}

{% block content %}
{% if errors %}
{% for e in errors %}
<p>{{e}}</p>
{% endfor %}
{% endif %}
<div class="container p-2 mt-2">
    <h3>{{book['title']}}</h3>
    <h5>{{book['author']}}</h5>
    <h5>{{book['year']}}</h5>
    <h6>{{book['isbn']}}</h6>
    <p>average rating <a href="https://www.goodreads.com/">Good reads</a>: {{average_rating}}</p>
    <p>number rating <a href="https://www.goodreads.com/">Good reads</a>: {{number_rating}}</p>
</div>

<form class="container" action="{{url_for('addReview', id=book['id'])}}" method="post">
    <div class="card p-0 col-md-6 col-lg-8 col-sm-8">
        <div class="card-header">
            <input type="radio" name="star" value="1">
            <input type="radio" name="star" value="2">
            <input type="radio" name="star" value="3">
            <input type="radio" name="star" value="4">
            <input type="radio" name="star" value="5">
        </div>
        <div class="card-body">
            <textarea name="review" class="comment-text" placeholder="Comment..."></textarea>
            <button type="submit" class="btn btn-primary btn-sm">Comment</button>
        </div>
    </div>
</form>
{% for r in reviews%}
<div class="container">
    <div class="card p-0 col-md-6 col-lg-8 col-sm-8 mt-2">
        <div class="card-header d-flex justify-content-between">
            <h6>rating: {{r['rating']}}</h6>
            <p>{{r['username']}}</p>
        </div>
        <div class="card-body">
            {{r['opinion']}}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}