{% extends "layout.html" %}
{% block title %}app-login{% endblock %}
{% block content %}
{% if errors %}
{% for e in errors %}
<p>{{e}}</p>
{% endfor %}
{% endif %}
<div class="container mt-5">
    <form action="{{url_for('login')}}" method="POST">
        <div class="form-group">
            <label for="us">Username</label>
            <input type="text" class="form-control" name="username" id="us" placeholder="username">
        </div>
        <div class="form-group">
            <label for="pw">Password</label>
            <input type="password" class="form-control" name="password" id="pw" placeholder="password">
        </div>
        <button type="submit" class="btn btn-primary">login</button>
    </form>
</div>
{% endblock %}